html,body,ul,ol,p,img{margin:0;padding:0}
html,body{width:100%;height:100%;overflow:hidden}
body{
	color:#000;
	-webkit-user-select:none;
	font:400 14px/1.5 "微软雅黑",helvetica,verdana,san-serif;
	width:auto;
	height:100%
	position:relative
}
@media(min-width:320px) and (max-width:359px){

}
@media(min-width:360px) and (max-width:399px){

}
@media(min-width:400px) and (max-width:479px){

}
@media(min-width:480px) and (max-width:639px){

}
@media(min-width: 640px){
	body{
		width: 640px;
		margin:auto;
	}
}
img{width:100%;vertical-align:top}
.flip-box{width:100%;height:28.4rem;overflow:hidden;background:#ccc;position:relative}
.flip-box .pages{width:100%;height:28.4rem;overflow:hidden;position:absolute;left:0;top:0;z-index:0}
.flip-box .pages img{width:100%}
.flip-box .pages.z-current{z-index:1}
.flip-box .pages.z-active{z-index:2}